@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat);

*::-webkit-scrollbar {
	width: 0;
}

html {
	position: relative;
	overflow: hidden;
	height: 100%;
}

body {
	position: relative;
	overflow: hidden;
	height: 100%;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	/* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

body {
	font-family: 'Overpass', sans-serif;
}

input {
	border: 0;
	outline: 0;

	&:focus {
		border: 0;
		outline: 0;
	}

	&:focus-visible {
		border: 0;
		outline: 0;
	}

	&:focus-within {
		border: 0;
		outline: 0;
	}
}

.animation-sub-group {
	padding: 40px;
	height: 400px;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	position: relative;
	animation: subGroup 0.3s ease-in-out;
	border-radius: 16px;
	transition: all 0.3s ease;
}

@keyframes subGroup {
	0% {
		bottom: -100%;
	}
	100% {
		bottom: 0;
	}
}
.animation-skeleton {
	position: relative;
	overflow: hidden;
	.animation-skeleton-line {
		position: absolute;
		height: 150%;
		width: 0px;
		box-shadow: 10px 20px 100px 20px;
		top: -50%;

		background: #ffffff;
		transform: rotate(-45deg);
		transition: all 0.2s ease;
		animation: Skeleton 0.8s ease-in-out alternate infinite;
	}
}

@keyframes Skeleton {
	from {
		left: -20%;
	}

	to {
		left: 100%;
	}
}
//Animations

.container-animation {
	font-weight: 800;
	margin: 0;
	padding: 0;
	display: flex;
	height: 100%;
	align-items: center;
}

.svg-anim {
	display: block;
	font: 20.5em 'Montserrat';
	width: 700px;
	height: 300px;
	margin: 0 auto;
}

.text-copy {
	letter-spacing: 7px;
	fill: none;
	font-weight: 900;
	stroke: white;
	stroke-dasharray: 10% 19%;
	stroke-width: 4px;
	stroke-dashoffset: 0%;
	animation: stroke-offset 3s infinite linear;
}

.text-copy:nth-child(1) {
	stroke: #0f585c;
	animation-delay: -0.25s;
}

.text-copy:nth-child(2) {
	stroke: #224852;
	animation-delay: -0.5s;
}

.text-copy:nth-child(3) {
	stroke: #0ab2af;
	animation-delay: -1s;
}

.text-copy:nth-child(4) {
	stroke: #0e7787;
	animation-delay: -1.25s;
}

.text-copy:nth-child(5) {
	stroke: #08645d;
	animation-delay: -1.5s;
}

@keyframes stroke-offset {
	100% {
		stroke-dashoffset: -35%;
	}
}
